<div class="row">
    <div class="col-lg-12">
        <div>
            <div class="text-center">
                <nb-card-header>{{employeeId ? 'UPDATE EMPLOYEE' : 'Add NEW EMPLOYEE'}}</nb-card-header>
            </div>
        </div>
        <br><br><br>
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-10">
                <!--Reactive Form-->
                <form (ngSubmit)="createEmployee()" [formGroup]="employeeForm" aria-labelledby="title">
                    <div class="alert alert-danger" role="alert"
                         *ngIf="errorMessage">
                        {{errorMessage}}
                    </div>
                    <div class="alert alert-success" role="alert"
                         *ngIf="successMessage">
                        {{successMessage}}
                    </div>

                    <!--FIRST NAME-->
                    <!--LAST NAME-->
                    <div class="row full-name-inputs">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="form-control" formControlName="firstName"
                                       name="user-first-name" nbInput fullWidth
                                       placeholder="First Name" [(ngModel)]="employee.first_name">

                                <!--Register Error Here-->
                                <div class="alert alert-danger" role="alert"
                                     *ngIf="get('firstName').touched && get('firstName').invalid">
                                    FirstName is required
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" formControlName="lastName" name="user-last-name"
                                       class="form-control" nbInput fullWidth
                                       placeholder="Last Name" [(ngModel)]="employee.last_name">
                                <!--Register Error Here-->
                                <div class="alert alert-danger" role="alert"
                                     *ngIf="get('lastName').touched && get('lastName').invalid">
                                    LastName is required
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--USERNAME-->
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="username" name="username"
                               placeholder="Username *" [disabled]="true"
                               [(ngModel)]="employee.username">
                        <!--Register Error Here-->
                        <div class="alert alert-danger" role="alert"
                             *ngIf="get('username').touched && get('username').invalid">
                            <div *ngIf="get('username').errors.required"> Email is required</div>
                        </div>
                    </div>

                    <!--EMAIL ADDRESS-->
                    <div class="form-group">
                        <input type="email" class="form-control" formControlName="email" name="user-email"
                               placeholder="Email Address" [disabled]="true"
                               [(ngModel)]="employee.email">
                        <!--Register Error Here-->
                        <div class="alert alert-danger" role="alert"
                             *ngIf="get('email').touched && get('email').invalid">
                            <div *ngIf="get('email').errors.required"> Email is required</div>
                            <div *ngIf="get('email').errors.pattern">Invalid email address</div>
                        </div>
                    </div>

                    <!--EMPLOYEE GENDER-->
                    <div class="form__group u-margin-bottom-medium">
                        <label style="padding-top: 5px;padding-right: 20px">Employee Gender *</label>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="gender"
                                   [(ngModel)]="employee.gender" value="Male" id="employee-gender-male">
                            <label for="employee-gender-male" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Male
                            </label>
                        </div>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="gender"
                                   [(ngModel)]="employee.gender" value="Female" id="employee-gender-female">
                            <label for="employee-gender-female" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Female
                            </label>
                        </div>
                    </div>

                    <!--DATE OF BIRTH-->
                    <div class="form-group">
                        <!--<nb-card-header>Common Datepicker</nb-card-header>-->
                        <input nbInput fullWidth formControlName="birth_date"
                               placeholder="Date of Birth"
                               [nbDatepicker]="birthPicker" [(ngModel)]="employee.birth_date">
                        <nb-datepicker #birthPicker></nb-datepicker>
                    </div>

                    <!--Work Phone-->
                    <div class="form-group">
                        <input type="text" formControlName="work_phone"
                               class="form-control" nbInput fullWidth
                               placeholder="Work Phone" [(ngModel)]="employee.work_phone">
                    </div>

                    <!--Mobile Phone-->
                    <div class="form-group">
                        <input type="text" formControlName="mobile_phone"
                               class="form-control" nbInput fullWidth
                               placeholder="Mobile Phone" [(ngModel)]="employee.mobile_phone">
                    </div>

                    <!--POSITION TITLE-->
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="position" name="position"
                               placeholder="Position *" [disabled]="true"
                               [(ngModel)]="employee.position">
                        <!--Register Error Here-->
                        <div class="alert alert-danger" role="alert"
                             *ngIf="get('position').touched && get('position').invalid">
                            <div *ngIf="get('position').errors.required"> Email is required</div>
                        </div>
                    </div>

                    <!--ORGANIZATION LEVEL-->
                    <div class="form-group">
                        <select class="form-control" formControlName="organization" [(ngModel)]="employee.organization"
                                name="user-role">
                            <option value="">Select Organization</option>
                            <option *ngFor="let organization of organizations_divisions_departments"
                                    value="{{organization.id}}">
                                {{organization.name}}</option>
                        </select>
                        <!--Register Error Here-->
                        <div class="alert alert-danger" role="alert"
                             *ngIf="get('organization').touched && get('organization').invalid">
                            Organization is required
                        </div>
                    </div>

                    <!--occupational_group-->
                    <div class="form-group">
                        <select class="form-control" formControlName="occupational_group"
                                [(ngModel)]="employee.occupational_group"
                                name="user-role">
                            <option value="">Select Occupational Group *</option>
                            <option *ngFor="let occ of occupations"
                                    value="{{occ.id}}">{{occ.value}}</option>
                        </select>
                        <!--Register Error Here-->
                        <div class="alert alert-danger" role="alert"
                             *ngIf="get('occupational_group').touched && get('occupational_group').invalid">
                            Occupational Group is required *
                        </div>
                    </div>
                    <!--HIRE DATE-->
                    <div class="form-group">
                        <!--<nb-card-header>Common Datepicker</nb-card-header>-->
                        <input nbInput fullWidth formControlName="hire_date"
                               placeholder="Hire Date"
                               [nbDatepicker]="hireDatePicker">
                        <nb-datepicker #hireDatePicker></nb-datepicker>
                    </div>

                    <!--RESIGNATION DATE-->
                    <div class="form-group">
                        <!--<nb-card-header>Common Datepicker</nb-card-header>-->
                        <input nbInput fullWidth formControlName="resignation_date"
                               placeholder="Resignation Date"
                               [nbDatepicker]="resignationDatePicker" [(ngModel)]="employee.resignation_date">
                        <nb-datepicker #resignationDatePicker></nb-datepicker>
                    </div>

                    <!--EXIT DATE-->
                    <div class="form-group">
                        <!--<nb-card-header>Common Datepicker</nb-card-header>-->
                        <input nbInput fullWidth formControlName="exit_date"
                               placeholder="Exit Date"
                               [nbDatepicker]="exitDatePicker" [(ngModel)]="employee.exit_date">
                        <nb-datepicker #exitDatePicker></nb-datepicker>
                    </div>

                    <!--EMPLOYEE ACTIVE-->
                    <div class="form__group u-margin-bottom-medium">
                        <label style="padding-top: 5px;padding-right: 30px">Employee Active *</label>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_active" value="1"
                                   id="employee-active-yes">
                            <label for="employee-active-yes" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Yes
                            </label>
                        </div>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_active" value="0"
                                   id="employee-active-no">
                            <label for="employee-active-no" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                No
                            </label>
                        </div>
                    </div>

                    <!--LEVEL MANAGER-->
                    <div class="form__group u-margin-bottom-medium">
                        <label style="padding-top: 5px;padding-right: 42px">Level Manager *</label>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_manager" value="1"
                                   id="level-manager-yes">
                            <label for="level-manager-yes" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Yes
                            </label>
                        </div>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_manager" value="0"
                                   id="level-manager-no">
                            <label for="level-manager-no" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                No
                            </label>
                        </div>
                    </div>

                    <!--FULL REPORTING-->
                    <div class="form__group u-margin-bottom-medium">
                        <label style="padding-top: 5px;padding-right: 47px">Full Reporting *</label>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_report" value="1"
                                   id="full-reporting-yes">
                            <label for="full-reporting-yes" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Yes
                            </label>
                        </div>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_report" value="0"
                                   id="full-reporting-no">
                            <label for="full-reporting-no" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                No
                            </label>
                        </div>
                    </div>

                    <!--EMPLOYEE SURVEYS-->
                    <div class="form__group u-margin-bottom-medium">
                        <label style="padding-top: 5px;padding-right: 20px">Employee Surveys *</label>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_survey" value="1"
                                   id="employee-surveys-yes">
                            <label for="employee-surveys-yes" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Yes
                            </label>
                        </div>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_survey" value="0"
                                   id="employee-surveys-no">
                            <label for="employee-surveys-no" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                No
                            </label>
                        </div>
                    </div>

                    <!--ONLINE USER-->
                    <div class="form__group u-margin-bottom-medium">
                        <label style="padding-top: 5px;padding-right: 62px">Online User *</label>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_online" value="1"
                                   id="online-user-yes">
                            <label for="online-user-yes" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                Yes
                            </label>
                        </div>
                        <div class="form__radio-group">
                            <input type="radio" class="form__radio-input" formControlName="is_online" value="0"
                                   id="online-user-no">
                            <label for="online-user-no" class="form__radio-label">
                                <span class="form__radio-button"></span>
                                No
                            </label>
                        </div>
                    </div>


                    <div class="text-center">
                        <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-success">
                            {{employeeId ? 'UPDATE' : 'SAVE'}}
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
