.home-section {
  padding: 80px 0;
}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}

.nb-card-color {
  background: #fff !important;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-top: 2px solid #000;
}

nb-layout-column {
  padding: 0 !important;
}

/deep/ nb-layout .layout {
  background-color: #fff !important;
}

nb-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #3f51b5;

}

.nb-card-header {
  color: #000;
}

.description {
  color: #616161;
  line-height: 1.5rem;
}

.home-cta {
  background: url('/assets/images/home-bg.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}