<div class="row">
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>
                <i class="icon nb-arrow-thin-left" (click)="onClickSelectOrganization()" style="font-size: 50px;cursor: pointer;color: #00d977" ></i>
                <div class="text-center"> {{organizationId ? 'UPDATE ORGANIZATION' : 'ADD NEW ORGANIZATION'}}</div>
            </nb-card-header>
            <nb-card-body>
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-8">

                        <form #f="ngForm" (ngSubmit)="createOrganization()">
                            <div class="alert alert-danger" role="alert"
                                 *ngIf="errorMessage">
                                {{errorMessage}}
                            </div>
                            <div class="alert alert-success" role="alert"
                                 *ngIf="successMessage">
                                {{successMessage}}
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" [(ngModel)]="organizationName"
                                       name="industry-name"
                                       placeholder="Organization Name" required>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success" [disabled]="!f.valid">
                                    {{organizationId ? 'UPDATE' : 'SAVE'}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>

            </nb-card-body>
        </nb-card>
    </div>
</div>