.home-section {
  padding: 80px 0;
}

.light-gray {
  background: rgba(0, 0, 0, 0.024);
}
.nb-card-color {
  background: #fff !important;
  padding: 10px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  border-top: 2px solid #000;
}
nb-card:hover {
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2);
  border-top: 2px solid #3f51b5;

}

.nb-card-header {
  color: #000;
}
.description {
  color: #616161;
  line-height: 1.5rem;
}
//re-writing global css
/deep/ nb-layout .layout {
  background-color: #fff !important;
}

nb-layout-column {
  padding: 0 !important;
}

/deep/ .nb-theme-cosmic .form-control{
  background-color: #fff;
  border: 1px solid #342e73;
}
/deep/ .nb-theme-cosmic .form-control:focus{
  background-color: #f0f0f5;
  color: #3f51b5;
}