<nb-layout>
    <nb-layout-column>
        <ngx-header></ngx-header>
        <ngx-page-name [pageName]="'Contact'"></ngx-page-name>

        <section class="home-section light-gray">
            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-lg-6">
                            <!--Contact Information-->
                        </div>
                        <div class="col-lg-6">
                            <!--Contact Text-box-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="email.name"
                                               name="name"
                                               placeholder="Your Name" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="email" class="form-control" [(ngModel)]="email.from_email"
                                               name="from-email"
                                               placeholder="Your Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="email.subject"
                                               name="subject"
                                               placeholder="Subject" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea type="text" rows="5" class="form-control" [(ngModel)]="email.message"
                                                  name="message"
                                                  placeholder="Message" required>
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </nb-layout-column>
</nb-layout>