<header>
  <nav>
    <h1 class="logo">
      <a routerLink="/client/home">Workforce</a>
    </h1>
    <ul>
      <li><a routerLink="/client/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/client/product" routerLinkActive="active">Products & Services</a></li>
      <li><a routerLink="/client/contact" routerLinkActive="active">Contact</a> </li>
      <li><a routerLink="/client/login" routerLinkActive="active">Login</a> </li>
    </ul>
  </nav>
</header>