<div class="alert alert-success" role="alert"
     *ngIf="successMessage">
    {{successMessage}}
</div>
<div class="alert alert-danger" role="alert"
     *ngIf="errorMessage">
    {{errorMessage}}
</div>
<div style="float: left;">
    <input type="file" #filePicker (change)="onFilePicked($event)">
    <button type="button" class="btn btn-success btn-xs" (click)="filePicker.click()">Upload Employee</button>
</div>
<ngx-datatable
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="40"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [count]="count"
        [offset]="offset"
        [limit]="limit"
        (page)='onPage($event)'>
    <ngx-datatable-column name="username">
        <ng-template let-column="column" ngx-datatable-header-template>
            Username
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{value}}</strong>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="email">
        <ng-template let-column="column" ngx-datatable-header-template>
            Email
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{value}}</strong>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="position">
        <ng-template let-column="column" ngx-datatable-header-template>
            Position
        </ng-template>
        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <strong>{{value}}</strong>
        </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column name="id">
        <ng-template let-column="column" ngx-datatable-header-template>
            <span>Action</span>
        </ng-template>
        <ng-template let-value="value" ngx-datatable-cell-template>
            <button type="button" (click)="onClickEdit(value)"
                    style="font-size: 18px;background-color: transparent;border:none; cursor: pointer;color: #fff">
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 22px"></i></button>
            <button type="button" (click)="onClickDelete(value)"
                    style="font-size: 22px;background-color: transparent;border:none;cursor: pointer;color: #fff;">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </ng-template>
    </ngx-datatable-column>
</ngx-datatable>
