<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Add Reports</nb-card-header>
      <nb-card-body>

        <div class="row full-name-inputs">
          <div class="col-md-12 col-sm-12 input-group">
            <input type="text" nbInput fullWidth placeholder="Report Title *">
          </div>
        </div>

        <div class="row full-name-inputs">
          <div class="col-md-12 col-sm-12 input-group">
            <label for="input-b4a">Report File *</label>
            <input id="input-b4a" name="input-b4a" type="file" class="file" readonly="true" style="margin-left: 24px">
          </div>
        </div>

        <div class="row full-name-inputs">
          <div class="col-md-6 col-sm-12 input-group">
            <nb-card-header style="padding-top: 10px; padding-bottom: 10px; font-size: 1rem">
              Report Description *
            </nb-card-header>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="form-group">
              <label class="form-control-label">Client Name *</label>
              <div class="dropdown" ngbDropdown>
                <button class="btn btn-primary" type="button" ngbDropdownToggle>
                  {{ position }}
                </button>
                <ul ngbDropdownMenu class="dropdown-menu">
                  <li class="dropdown-item" *ngFor="let p of positions" (click)="position = p">
                    {{ p }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9">
            <label class="col-sm-12 col-lg-12" style="color: white">View at Org Level</label>
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" style="padding-left: 2.25rem; color: white">Yes</span>
              </label>
            </div>
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" style="padding-left: 2.25rem
">No</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9">
            <label class="col-sm-12 col-lg-12" style="color: white">View at Div Level</label>
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" style="padding-left: 2.25rem; color: white">Yes</span>
              </label>
            </div>
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" style="padding-left: 2.25rem
">No</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-9">
            <label class="col-sm-12 col-lg-12" style="color: white">View at Dept Level</label>
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" style="padding-left: 2.25rem; color: white">Yes</span>
              </label>
            </div>
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="gridRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" style="padding-left: 2.25rem
">No</span>
              </label>
            </div>
          </div>
        </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>
